body {
  background-color: lightblue;
  width: auto;
  margin: 0px;
  padding: 0px;
}

body * {
  position: absolute;
  display: block;
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
  background-repeat: no-repeat;
  width: auto;
}

/* ::-webkit-scrollbar {
  display: none;
} */

#ground {
  margin-top: 400px;
  width: 100%;
  height: 200px;
  /* bottom: 0px; */
  /* position: fixed; */
}

player {
  background-image: url(../images/helicopter.png);
  background-size: 100% 100%;
}

obstacle {
  background-image: url(../images/cloud.png);
  background-size: 100% 100%;
}

spikes {
  background-image: url(../images/spikes.png);
  /* background-size: contain; */
}

coin {
  background-image: url(../images/coin.png);
  background-size: contain;
}

#cont {
  width: 100%;
  float: right;
}

#score {
  color: white;
  font-size: 50px;
  top: 40px;
  right: 10px;
}

#finish {
  color: white;
  font-size: 100px;
  top: 40px;
  text-align: center;
  z-index: -1;
}

